---
title: Getting started with Sitepress in Rails
---
<!DOCTYPE HTML>
<!--
	Fractal by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="content">
					<h1><a href="#">Autana muebles</a></h1>
					<p>Una empresa familiar<br />
					Más de 10 años de experiencia. <a href="/hello">Nosotros</a></p>
					<ul class="actions">
						<li><a href="/contacto" class="button primary icon solid ">Contacto</a></li>
						<li><a href="/nosotros" class="button icon solid scrolly">Galeria</a></li>
					</ul>
				</div>
                <%= image_tag "furniture1", class: "inner" %>
			</header>

		<!-- One -->
			<section id="one" class="wrapper style2 special">
				<header class="major">
					<h2>Trabajamos con los mejores materiales del mercado<br />
					para garantizar la mayor calidad y satisfacción en todos nuestros proyectos.</h2>
				</header>
				<ul class="icons major">
					<li><span class="icon solid fa-camera-retro"><span class="label">Shoot</span></span></li>
					<li><span class="icon solid fa-sync"><span class="label">Process</span></span></li>
					<li><span class="icon solid fa-cloud"><span class="label">Upload</span></span></li>
				</ul>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper">
				<div class="inner alt">
					<section class="spotlight">
                        <%= image_tag "furniture12", class: "image" %>
						<div class="content">
							<h3>Muebles para baños</h3>
							<p>Diseñamos muebles a medida, remodelamos y diseñamos al gusto del cliente.</p>
						</div>
					</section>
					<section class="spotlight">
						<%= image_tag "mesa", class: "image" %>
						<div class="content">
							<h3>Diseños originales</h3>
							<p>Realizamos modelos en 3d renderizados para que nuestro cliente pueda ver en un entorno virtual, espacio, aprovechamiento, colores y preferencias; al momento de cotizar.</p>
						</div>
					</section>
					<section class="spotlight">
						<%= image_tag "furniture3", class: "image" %>
						<div class="content">
							<h3>Cocinas</h3>
							<p>Remodelamos, fabricamos, reparamos, y realizamos mantenimientos en muebles de cocina.</p>
						</div>
					</section>
					<section class="special">
						<ul class="icons labeled">
							<li><span class="icon solid fa-camera-retro"><span class="label">Muebles a medida</span></span></li>
							<li><span class="icon solid fa-sync"><span class="label">Cocinas</span></span></li>
							<li><span class="icon solid fa-cloud"><span class="label">Baños</span></span></li>
							<li><span class="icon solid fa-code"><span class="label">Closeth</span></span></li>
							<li><span class="icon solid fa-desktop"><span class="label">Organizadores</span></span></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2 special">
				<header class="major">
					<h2>Productos y Servicios</h2>

					<p>Fabricación y diseño de muebles a medida en melamina para cocinas, mobiliarios, diseño interior y mucho más!
 <br />
                    Visita nuestro catálogo...</p>
				</header>
				<ul class="actions special">
					<li><a href="/nosotros" class="button primary icon solid ">Nosotros</a></li>
					<li><a href="/contacto" class="button">Contacto</a></li>
				</ul>
			</section>

		



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>