<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands "><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands "><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands "><span class="label">Instagram</span></a></li>
				</ul>
				<p class="copyright">&copy; Autana muebles. Credits: <a href="/">Autana Muebles</a></p>
			</footer>