<nav>
  <ul>
    <li><a href="/"><strong>Autana muebles</strong></li>
  </ul>
  <ul>
    <li><a href="/hello" class="secondary">Servicios</a></li>
    <li><a href="#nosotros" class="secondary">Nosotros</a></li>
    <li>
      <details class="dropdown">
        <summary>
          Contacto
        </summary>
        <ul dir="rtl">
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Whatsapp</a></li>
          <li><a href="#">Email</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>